*
  background-color: #000000
  font-family: 'DM Mono', monospace
  color: #ffffff

a
  text-decoration: none

ul
  margin: 0
  padding: 0
  list-style: none

.icon
  fill: #000000
  background-color: #ffffff
  width: 20px
  height: 20px
