*
  font-family: 'DM Mono', monospace
  color: #ffffff
body, html
  background-color: #000000

h1, h2, h3
  margin: 0
  font-family: 'Audiowide', cursive
  text-transform: uppercase

h3
  font-size: 38px
  line-height: 45px

a
  text-decoration: none

ul
  margin: 0
  padding: 0
  list-style: none

.icon
  fill: #000000
  background-color: #ffffff
  width: 20px
  height: 20px

.button
  display: flex
  align-items: center
  justify-content: center
  width: 205px
  height: 60px
  background-color: #8DFD1B
  font-size: 16px
  line-height: 16px
  color: #000000
  text-transform: capitalize
  &--outline
    width: 246px
    height: 42px
    background-color: #000000
    color: #ffffff
    border: 1px solid #8DFD1B
