.footer
  background-color: #42006A
  padding: 100px 0
  &-container
    margin: 0 140px
    display: flex
    justify-content: space-between
    & div, ul
      margin-right: 20px
    & div:last-child
      margin-right: 0
  &-logo
    &_link
      display: block
      margin-bottom: 70px
      width: 103px
    &_image
      width: inherit
  &-text
    font-size: 13px
    line-height: 15px
    margin: 0
  &-menu
    &_item
      margin-bottom: 30px
    &_link
      font-size: 16px
      line-height: 19px
  &-authors
    &_text
      margin-bottom: 30px
  &-social
    display: flex
    &_link
      margin-left: 12px
      width: 36px
      height: 36px
      background-color: #ffffff
      display: flex
      align-items: center
      justify-content: center
